body{
    cursor: url("TWITCH.png"), default;
    }
    *{
    
        margin: 0%;
    }
    .bloc{
        position: relative;
        height: 100vh;
        width: 100%;
       
    }

    .bloc video{
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        overflow: hidden;
        
    }
    

    .form{
        border: solid #191517;
        width: 35%;
        height: 40%;
        margin-left: 33%;
        margin-top: 0.5%;
        background-color: #84191B;
        text-align: center;
        box-shadow: 4px 4px 100px #EC3139;
        transition: transform 0.5s;
    }
.form:hover{
transform: scale(1.09);
}
    .img{
        width: 80%;
        height: 90%;
        margin-top: 2.09%;
        border: solid #191517;
    }


    .form1{
        border: solid #191517;
        width: 35%;
        height: 52%;
        margin-left: 33%;
        margin-top: 0.6%;
        background-color: #84191B;
        text-align: center;
        box-shadow: 4px 4px 100px #EC3139;
        transition: transform 0.5s;
    }
     .form1:hover{
        transform: scale(1.05);
    }

    .lien{
        width: 75px;
        height: 75px;
        margin-top: 500px;
        
    }
    .lien:hover{
        transform: scale(1.05);
        box-shadow: 4px 4px 100px #EC3139;
    }
    
    

    .shinra{
        border: solid #191517;
        border-radius: 70%;
        width: 130px;
        margin-left: 45.3%;
        box-shadow: 4px 4px 100px #EC3139;  
        transition: transform 0.5s;
    }
    .shinra:hover{
        transform: scale(1.05);
    }
    .form2{
        
        box-shadow: 4px 4px 100px #EC3139;
       background-color: #84191B;
        border: solid black;
        width: 35%;
        margin-left: 33%;
        margin-top: 1%;
        height: 59%;
        transition: transform 0.5s;
    }
    .form2:hover{
        transform: scale(1.05);
    }
    .img4{
        width: 90%;
        position: top right;
    }